# Author: David Chin <dwchin@umich.edu>
#         734-764-5146
#         734-730-1274
#
# $Id: osctest3.config,v 1.1 2001/09/29 01:58:59 jzweizig Exp $
#
# Used to test transit* conditions

X_arm_locked      meanabove     "L1:ASC-QPDX_DC"     threshold=0.  # a comment

X_arm_LockAcquired     transitup   "X_arm_locked" hold=5 dead=2  # hold is always >= 0
X_arm_LockLost         transitdown   "X_arm_locked" hold=3 dead=4

