#
# $Id: osctest.config,v 1.3 2002/06/26 14:20:16 dwchin Exp $
#
# Author: David Chin <dwchin@umich.edu>
#         Phone: +1 734-764-5146
#         Phone: +1 734-730-1274
#
# The sample data file has 7 channels of interest, of which only 6 are
# actually functional (i.e. have the data that we say they have).
#
#   H0:SAMPLE1 -- constant value +8.0
#   H0:SAMPLE2 -- constant value  0.0
#   H0:SAMPLE3 -- square wave between +8.0 and 0.0, period of 8. seconds
#   H0:SAMPLE4 -- sawtooth (NOT FUNCTIONAL, YET)
#   H0:SAMPLE5 -- sine wave, 0. DC offset, period 0.25s, amplitude 5.
#   H0:SAMPLE6 -- sine wave, +1. DC offset, period 0.25s, amplitude 5.
#   H0:SAMPLE7 -- sum of two sine waves, with some arbitrary phase offset:
#                 i) zero DC offset, period 0.25s, amplitude 2
#                ii) zero DC offset, period 0.005s, amplitude 5

#include "osctest2.config"

Foo                 valueabove "H2:LSC-AS_I" threshold=4000.0 fraction=-1   # a comment
#Foo                 abspowerabove "H2:IOO-MC_F" threshold=10. freqlo=680 freqhi=690  # a comment
#Transitup_Foo       transitup  "Foo"         # OK
#Bar                 valueabove "H2:LSC-AS_Q" threshold=2.0 fraction=.6193 # and another 
Bar                 valueabove "H2:LSC-AS_Q" threshold=100000. fraction=1. # and another 
FooBar              boolean "(Foo & Bar)"
#FooBar              boolean "Foo | Bar"

Foo valueabove "H0:DAQ-RDS1_ENABLE" threshold=0.5
Bar meanabove  "H0:DAQ-RDS1_TRIGGER" threshold=0.01
TransitUp_Bar transitup "Bar" hold=40
MuadDib boolean "Foo | TransitUp_Bar"

BooBar boolean "Boo & Bar"  # Expect error: Boo undefined

BaBar  boolean "babar"      # Expect error: babar undefined

NoSuchOSC foofoo "H2:LSC-AS_I" threshold=10.0 fraction=0.99

#Test_Valuerange     valuerange "H2:LSC-AS_I" lo=3.4  hi=19.2 fraction=1
#Test_Valueabove2    valueabove "H2:LSC-AS_I" fraction=0.4   # Expect error: threshold not set

#Test_MeanAbove      meanabove  "H2:LSC-AS_I"     threshold=17.5 fraction=1  # fraction will be ignored
#Test_MeanBelow      meanbelow  "H2:LSC-AS_I"     threshold=17.5
#Test_MeanRange      meanrange  "H2:LSC-AS_I"     hi=18.37 lo=12.42

#Test_MeanRise  meanrise "H2:LSC-AS_I" threshold=2.491 nstrides=3
#Test_MeanFall  meanfall "H2:LSC-AS_I" threshold=2.491 nstrides=3

#Test_RmsAbove       rmsabove   "H2:LSC-AS_I"     threshold=92.1

#Test_NoSuchParam    valueabove "H2:LSC-AS_I" fraction=0.25 foobar=67.2 threshold=1.23 # foobar ignored
#Test_NoSuchParam2   valueabove "H2:LSC-AS_I" foobar=67.2 threshold=1.23 fraction=0.44 # foobar ignored

#Test_BadValue       transitup "X_arm_locked" hold=-2
#Test_BadFraction    valueabove "H2:LSC-AS_I" threshold=2.75 fraction=24.3   # Expect warning: fraction

#X_arm_LockAcquired     transitup   "X_arm_locked" hold=0  # hold is always >= 0
#X_arm_LockLost         transitdown   "X_arm_locked" hold=0
#Y_arm_LockAcquired     transitup     "Y_arm_locked" hold=0
#Y_arm_LockLost         transitdown   "Y_arm_locked" hold=0
#Both_arms_LockAcquired transitup     "Both_arms_locked" hold="H2:LSC-AS_I"
#Both_arms_LockLost     transitdown   "Both_arms_locked" hold="H2:LSC-AS_I"

#Test_IGNORE_ME   meanabove "H2:LSC-AS_I" threshold=20.2 fraction=1
#ignore           "Test_IGNORE_ME"


#Test_BitAnd  bitand  "H2:LSC-AS_I" fraction=0.25 mask=27
#Test_BitNand bitnand "H2:LSC-AS_I" fraction=0.25 mask=39
#Test_BitOr   bitor   "H2:LSC-AS_I" fraction=0.25 mask=0x45    # hex mask
#Test_BitNor  bitnor  "H2:LSC-AS_I" fraction=0.25 mask=052     # octal mask


#Test_AbsPowerRise_1 abspowerrise "H2:LSC-AS_I" freqlo=10. freqhi=20. threshold=4.3 
#Test_AbsPowerRise_2 abspowerrise "H2:LSC-AS_I" freqlo=10. freqhi=20. threshold=4.3 nstrides=8
#Test_AbsPowerFall_1 abspowerfall "H2:LSC-AS_I" freqlo=10. freqhi=20. threshold=4.3
#Test_AbsPowerFall_2 abspowerfall "H2:LSC-AS_I" freqlo=10. freqhi=20. threshold=4.3 nstrides=128

#Test_AbsPowerGain_1 abspowergain "H2:LSC-AS_I" freqlo=10. freqhi=20. threshold=2.
#Test_AbsPowerGain_2 abspowergain "H2:LSC-AS_I" freqlo=10. freqhi=20. threshold=0.5
#Test_AbsPowerGain_3 abspowergain "H2:LSC-AS_I" freqlo=10. freqhi=20. threshold=1.


#Test_FractPowerRise_1 fractpowerrise "H2:LSC-AS_I" freqlo=10. freqhi=15.  threshold=1.4 # Expect warning
#Test_FractPowerRise_2 fractpowerrise "H2:LSC-AS_I" freqlo=10. freqhi=15.  threshold=0.7

#Test_FractPowerFall_1 fractpowerfall "H2:LSC-AS_I" freqlo=10. freqhi=15.  threshold=1.4 # Expect warning
#Test_FractPowerFall_2 fractpowerfall "H2:LSC-AS_I" freqlo=10. freqhi=15.  threshold=0.3

