#
# $Id: osctest2.config,v 1.2 2002/05/02 18:48:45 dwchin Exp $
#
# Author: David Chin <dwchin@umich.edu>
#         Phone: +1 734-764-5146
#         Phone: +1 734-730-1274
#
# The sample data file has 7 channels of interest, of which only 6 are
# actually functional (i.e. have the data that we say they have).
#
#   H0:SAMPLE1 -- constant value +8.0
#   H0:SAMPLE2 -- constant value  0.0
#   H0:SAMPLE3 -- square wave between +8.0 and 0.0, period of 8. seconds
#   H0:SAMPLE4 -- sawtooth (NOT FUNCTIONAL, YET)
#   H0:SAMPLE5 -- sine wave, 0. DC offset, period 0.25s, amplitude 5.
#   H0:SAMPLE6 -- sine wave, +1. DC offset, period 0.25s, amplitude 5.
#   H0:SAMPLE7 -- sum of two sine waves, with some arbitrary phase offset:
#                 i) zero DC offset, period 0.25s, amplitude 2
#                ii) zero DC offset, period 0.005s, amplitude 5

# include <LockLoss.config> # need something here...

Test_ReadFromChan valueabove "H2:ASC-QPDX_DC" threshold="H2:ASC-QPDX_DC" # read param from channel

# Make sure the case-insensitivity is working
X_Arm_locKed      meanabove     "H2:ASC-QPDX_DC"     threshold=0.  # a comment
Y_arm_locked      meanabove     "H2:ASC-QPDY_DC"     threshold=3.  # another
Both_arms_locked  boolean       "x_arM_lockeD & Y_arm_locked"

TestAbsPowAbove   abspowerabove "H2:LSC-AS_I" threshold=3. freqlo=1. freqhi=40.
TestAbsPowAbove2  abspowerabove "H2:LSC-AS_I" freqlo=1. threshold=1.8e6 freqhi=40.
TestAbsPowAbove3  abspowerabove "H2:LSC-AS_I" freqlo=9. freqhi=20. threshold=2300000. 

TestAbsPowerBelow abspowerbelow "H2:LSC-AS_I" threshold=3. freqlo=2. freqhi=27.2

TestAbsPowerRange_Bad abspowerrange "H2:LSC-AS_I" threshold=3. freqlo=2. freqhi=27.2  # Expect error

TestAbsPowerRange     abspowerrange "H2:LSC-AS_I" lo=2. hi=41.79 freqlo=2. freqhi=27.2

TestFractPowerAbove     fractpowerabove "H2:LSC-AS_I" threshold=0.8 freqlo=1.  freqhi=11.2
TestFractPowerAbove_2   fractpowerabove "H2:LSC-AS_I" threshold=1.8 freqlo=1.  freqhi=11.2 # Expect warning (threshold too high)
TestFractPowerBelow     fractpowerbelow "H2:LSC-AS_I" threshold=.8 freqlo=1.  freqhi=11.2
TestFractPowerRange     fractpowerrange "H2:LSC-AS_I" lo=.2 hi=0.54 freqlo=1.  freqhi=11.2
